@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

#content {
  max-width: 1600px;
  margin: 0 auto;
}


#hero-msg h1, #hero-msg h4, 
.button-box, 

main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}


#hero-msg h1, #hero-msg h4, .button-box, h2, .join {
    font-family: 'Gloria Hallelujah';
}
#hero-msg h4 {
    color: white;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}


nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'Nunito Sans';
    padding: 35px;
}
nav a:hover {
    color: white;
}
nav {
    display: flex;
    justify-content: space-around;
}


.home-title {
    color: white;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: black;
}


.book, .join {
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #6e6850;
}

.book {
    background-color: #968e6d;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
.book:hover {
    background-color: #968e6d;
    color: white;
}

.join {
    color: black; 
    text-decoration: none;


}   
.join:hover {
     background-color: #6e6850;
    color:white;
}

.msg {
    background-color:#968e6d;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    color: black;
}
.msg p {
    color: black;
    font-family: 'Nunito Sans';
    font-size: .8em;
    padding-bottom: 15px;
}


#background {
    height: 725px;
}
body {
    background-color: white; 
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', Arial, sans-serif;
}
header {
    background-color: #968e6d;
     display: grid;
    grid-template-columns: 150px auto; 
}
#background {
    background-color:white;
}


footer {
    background-color:#968e6d;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    background-color: #968e6d;
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
footer p {
    font-size: 1em;
    color: black;
    font-family: 'Nunito Sans';
}    
footer p a:hover {
    text-decoration: none;
}
footer .social img{
    padding-top: 15px;
}


.icon {
    width: 80px;
    padding-top: 10px;
}


#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 80px;
    height: 80px;
}


.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #968e6d;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11;
    grid-row: 9/4;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}


#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
.hero {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-bottom: 100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-img {
    width: 100%;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
li {
    margin-top: 20px;
}
.faq-grid {
    margin: 0% 10%;
}