img {
    margin: 0;
    width: 100%;
}
body {
    margin: 0
}
.rounded_image {
    border: 10px solid #555555;
    border-radius: 50%;
    width: 20%;
    margin: 20px 5%;

}
.rounded_image_holder {
    text-align: center;
    background-color: gray;
    
}